extends base
block title
  | FOJI | Página no disponible

block body
  .wrapper(aria-page="404")
    include navbar_no_login
    .float-content
      .message.card.mt-4.d-inline-block.p-3.ml-3.mr-2
        h1.display-1.text-primary 500
        h5 Página no disponible
