doctype

html
  head
    block meta
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
    block style
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Raleway:900')
      link(rel="icon" type="image/png" sizes="32x32" href="/static/foji/assets/img/favicon.png")
    title
      block title
  body
    block body
