nav.navbar.navbar-expand-md.sticky-top.navbar-light.bg-light#navbar-main
  .container
    a.navbar-brand.ml-2.ml-md-0(href='/home/')
      img(src='/static/foji/assets/img/logo_foji.png' alt='FOJI').header-logo