extends ../base

block title
  | FOJI | Perfil del administrador

block body
  .wrapper(aria-page="administrator_profile")
    include ../navbar
    include ../navigation
    #administrator-profile(data-administrator-id='{{ object.id }}' data-can-edit='{{ can_edit }}')
    | {% if request.user.administrator %}
    #user-type(data-usertype="administrator")
    | {% else %}
    #user-type(data-usertype="visitor")
    | {% endif %}
