extends ../base


block title
  | FOJI | Lista de Notificaciones

block body
  .wrapper(aria-page="admin-notifications-list") 
    include ../navbar
    include ../navigation
    .container 
      #admin-notifications-list 
