extends ../base

block title
  | FOJI | Agregar Coordinador

block body
  .wrapper(aria-page="coordinador-add")
    include ../navbar
    include ../navigation
    #coordinador-add(data-coordinador-id='{{ object.id }}' data-can-edit='{{ can_edit }}')
    | {% if request.user.administrator %}
    #user-type(data-usertype="administrator")
    | {% elif request.user.coordinator %}
    #user-type(data-usertype="coordinator")
    | {% else %}
    #user-type(data-usertype="visitor")
    | {% endif %}
