extends ../base
block title
  | FOJI |  Recuperación de Contraseña

block body
  .wrapper(aria-page="login")
    include ../navbar
    .float-content
      | {% if success %}
      .message.card.mt-4.d-inline-block.p-3.ml-3.mr-2
        .success
          .icon.success-icon
          span Se ha enviado la contraseña a tu correo. 
      | {% endif %}
      .vertical-login.mt-5.mx-auto
        span.font-weight-bold Recuperación de contraseña:
        form.text-center.justify-content-center(method='POST')
          | {% csrf_token %}
          .form-group
            label(for="email") Escribe tu email:
            input#email.form-control(
              name="email"
              value=''
              type="email"
              placeholder="Escribe tu email"
              required
            )
            .invalidFeedback
              | {{ error }}
          .form-group
            button.btn.btn-primary(type='submit') Enviar