extends ../base

block title
  | FOJI | Mantenedor Region

block body
  .wrapper(aria-page="region_profile")
    include ../navbar
    include ../navigation
    #region-profile(data-region-id='{{ object.id }}' data-can-edit='{{ can_edit }}')
    | {% if request.user.administrator %}
    #user-type(data-usertype="administrator")
    | {% else %}
    #user-type(data-usertype="visitor")
    | {% endif %}
