<head><link href="/static/foji/style.css" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve '/home/dotobito/.peterious/work/foji/foji-frontend/.pug/registration/email_validation.pug' in '/home/dotobito/.peterious/wo  rk/foji/foji-frontend':
  Error: Can't resolve '/home/dotobito/.peterious/work/foji/foji-frontend/.pug/registration/email_validation.pug' in '/home/dotobito/.peterious/work/foji/foji-frontend'
  
  - compiler.js:79 childCompiler.runAsChild
    [foji-frontend]/[html-webpack-plugin]/lib/compiler.js:79:16
  
  - Compiler.js:290 compile
    [foji-frontend]/[webpack]/lib/Compiler.js:290:11
  
  - Compiler.js:547 hooks.afterCompile.callAsync.err
    [foji-frontend]/[webpack]/lib/Compiler.js:547:14
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [foji-frontend]/[tapable]/lib/Hook.js:154:20
  
  - Compiler.js:544 compilation.seal.err
    [foji-frontend]/[webpack]/lib/Compiler.js:544:30
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [foji-frontend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1296 hooks.optimizeAssets.callAsync.err
    [foji-frontend]/[webpack]/lib/Compilation.js:1296:35
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [foji-frontend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1287 hooks.optimizeChunkAssets.callAsync.err
    [foji-frontend]/[webpack]/lib/Compilation.js:1287:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [foji-frontend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1282 hooks.additionalAssets.callAsync.err
    [foji-frontend]/[webpack]/lib/Compilation.js:1282:36
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [foji-frontend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1278 hooks.optimizeTree.callAsync.err
    [foji-frontend]/[webpack]/lib/Compilation.js:1278:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [foji-frontend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1215 Compilation.seal
    [foji-frontend]/[webpack]/lib/Compilation.js:1215:27
  
  - Compiler.js:541 hooks.make.callAsync.err
    [foji-frontend]/[webpack]/lib/Compiler.js:541:17
  
  
  - Compilation.js:1066 _addModuleChain
    [foji-frontend]/[webpack]/lib/Compilation.js:1066:12
  
  - Compilation.js:922 errorAndCallback.bail.err
    [foji-frontend]/[webpack]/lib/Compilation.js:922:6
  
  - Compilation.js:955 moduleFactory.create
    [foji-frontend]/[webpack]/lib/Compilation.js:955:14
  
  - NormalModuleFactory.js:397 factory
    [foji-frontend]/[webpack]/lib/NormalModuleFactory.js:397:22
  
  - NormalModuleFactory.js:130 resolver
    [foji-frontend]/[webpack]/lib/NormalModuleFactory.js:130:21
  
  - NormalModuleFactory.js:224 asyncLib.parallel
    [foji-frontend]/[webpack]/lib/NormalModuleFactory.js:224:22
  
  - async.js:2817 
    [foji-frontend]/[neo-async]/async.js:2817:7
  
</pre><script type="text/javascript" src="/static/foji/app.js"></script><script type="text/javascript" src="/static/foji/registration-coordinator.js"></script><script type="text/javascript" src="/static/foji/dashboard-coordinator.js"></script><script type="text/javascript" src="/static/foji/registration-orchestra.js"></script><script type="text/javascript" src="/static/foji/registration-institution.js"></script><script type="text/javascript" src="/static/foji/registration-funding.js"></script><script type="text/javascript" src="/static/foji/navbar.js"></script>